# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# IDE files
.vscode/
.idea/

# ML Models and large binaries
*.pkl

# Temporary files
tmp*
